<form [formGroup] = "form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input 
        id="oldPassword"
        type="text"
        class="form-control"
        formControlName="oldPassword">

        <div *ngIf = "oldPassword?.touched && oldPassword?.errors?.required" class = "alert alert-danger">
            Old Password is required
        </div>

        <div *ngIf = "oldPassword?.touched && oldPassword?.errors?.oldPassword" class = "alert alert-danger">
            Old Password is not correct
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input 
        id="newPassword"
        type="text"
        class="form-control"
        formControlName="newPassword"
        (keyup)="keyPressNewPassword(newP)" #newP>

        <div *ngIf = "newPassword?.touched && newPassword?.errors?.required" class = "alert alert-danger">
            New Password is required
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input 
        id="confirmPassword"
        type="text"
        class="form-control"
        formControlName="confirmPassword"
        (keyup)="keyPressConfirmPassword(confirmP)" #confirmP>

        <div *ngIf = "confirmPassword?.touched && confirmPassword?.errors?.required" class = "alert alert-danger">
            Confoirm Password is required
        </div>
        <div *ngIf = "confirmPassword?.touched && confirmPassword?.errors?.passDoesntMatch" class = "alert alert-danger">
            Password doesn't match
        </div>
        <div *ngIf = "form.invalid && form.errors?.passwordsShouldMatch" class="alert alert-danger">
            Password dont match
        </div>
        
    </div>
    <button class="btn btn-primary">Change Password</button>
</form>
