
<app-ng-if-implementation></app-ng-if-implementation>

<app-ng-switch-case></app-ng-switch-case>

<app-ng-for></app-ng-for>

<app-ng-class></app-ng-class>

<app-ng-style></app-ng-style>

<app-ng-content>
  <div class = "heading">Heading</div>
  <div class = "body">
    <h2>Body</h2>
    <p>Some content here...</p>
  </div>
</app-ng-content>

<app-test-solution title = "Shipping Details">
  Shipping Details here
</app-test-solution>

<app-test-solution title = "Billing Details">
  Billing Details here
</app-test-solution>