<form #form="ngForm" (ngSubmit)="submit(form.value)">
    <div class="form-group">
        <label for="courseName">Course Name</label>
        <input type = "text" ngModel name="courseName" id="courseName" class="form-control" #courseName = "ngModel" required minlength="5">
        <div class="alert alert-danger" *ngIf = "courseName.touched && courseName.errors?.required"> Course Name is Required
        </div>
        <div class="alert alert-danger" *ngIf = "courseName.touched && courseName.errors?.minlength"> Course Name minimum length is {{ courseName.errors?.minlength?.requiredLength}}
        </div>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select required ngModel name="category" id="category" class="form-control" #category = "ngModel">
            <option value=""></option>
            <option *ngFor = "let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        
        <div class="alert alert-danger" *ngIf = "category.touched && category.errors?.required"> Category is Required
        </div>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="guarantee"> 30-day money-back guarantee
        </label>
    </div>

    <button class="btn btn-primary" [disabled] = "!form.valid">Submit</button>
    <p>{{ form.value | json}}</p>
</form>
